# Python generated
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.pydeps/
.pycache/

# Virtual environments
.venv/

# Node (for some deps)
node_modules/

# OS
.DS_Store

# Downloaded files (scraped content)
output/